* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
		width: 100%;
    background: white;
}
canvas {
    display: block;
    margin: 0px auto;
}

